*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;

    header {
        width:100%;
        padding: 3em 0 2em 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/images/bg-header-desktop.png);
        background-repeat:no-repeat ;
        text-align: center;

        h1 {
            margin: .5em;
        }

        p {
            color: $grayish-blue;
        }

        button {
            margin-top: 2.5em;
            padding: 1em 3em;
            border: 1px solid white ;
            border-radius: 25px;
            cursor: pointer;
            color: white;
            font-size: 14px;
            font-weight: 600;
        }

        .green-btn {
            background-color: $strong-cyan;
            margin-right: .7em;

            &:hover {
            opacity: .9;
            }
        }
        .purple-btn {
            background-color: $light-blue;

            &:hover {
            opacity: .9;
            }
        }
    }

    section {
        width: 100%;
        .section-1 {
            margin: 5em 0 5em 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1 {
                margin-bottom: 1em;
                font-size: 32px;
            }
            p {
                color:$grayish-blue;
                margin-bottom: 1em;
            }
        }
        .section-2 {
            display: flex;
            justify-content: flex-start;
            text-align: left;
            width: 95%;
             h1 {
                font-size: 32px;
            }
            .computer-img {
                width: 55%;  
            }
            p {
                margin: 1em 0;
                color:$grayish-blue;
            }
            .content {
                width: 30%;
                margin: 3em 5em;
            }
        }
        .section-3 {
            width: 60%;
            margin: 7em auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1 {
                font-size: 32px;
                margin-bottom: 1em;
            }
            .device-img {
                width: 100%;   
            }
            p {
                color:$grayish-blue;
                margin-bottom: 5em;
            }
        }


    }

    
}








 .attribution { 
     font-size: 11px; text-align: center; 

        a { 
            color: hsl(228, 45%, 44%); 
        }
    }
    